<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.monitor.mapper.SysLockMapper">
    <resultMap id="lockResult" type="com.psms.project.monitor.domain.SysLock">
        <id property="lockId" column="lock_id"/>
        <result property="lockDate" column="lock_date"/>
        <result property="roleId" column="role_id"/>
        <result property="lockStatus" column="lock_status"/>
        <result property="createBy" column="create_by"/>
        <result property="creteTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="addLock" parameterType="com.psms.project.monitor.domain.SysLock">
        insert into sys_lock(lock_date,role_id,create_by,create_time)
        values(#{lockDate},#{roleId},#{createBy},sysdate())
    </insert>
    <update id="updateLock" parameterType="com.psms.project.monitor.domain.SysLock">
        update sys_lock set lock_date=#{lockDate},update_by=#{updateBy},update_time=sysdate()
        where lock_id=#{lockId}
    </update>
    <update id="isFlase">
        unlock tables;
        update sys_lock set lock_status=1 where lock_status=0;
    </update>
    <update id="isTrue">
        update sys_lock set lock_status=0 where lock_status=1;
        flush tables with read lock;
    </update>
    <delete id="delDates">
        delete from sys_lock where lock_id in
        <foreach item="lockId" collection="array" open="(" separator="," close=")">
            #{lockId}
        </foreach>
    </delete>
    <select id="dateList" resultType="java.lang.String">
        select lock_date from sys_lock
    </select>
    <select id="lockList" parameterType="com.psms.project.monitor.domain.SysLock" resultMap="lockResult">
        select lock_id,lock_date,role_id,lock_status,create_by,create_time,update_by,update_time
        from sys_lock
    </select>
</mapper>