<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.system.mapper.SysRoleSalaryMapper">
    <resultMap id="salaryResult" type="com.psms.project.system.domain.SysRoleSalary">
        <id property="salaryId" column="salary_id"/>
        <result property="baseSalary" column="base_salary"/>
        <result property="overtimeSalary" column="overtime_salary"/>
        <result property="bonus" column="bonus"/>
        <result property="penalty" column="penalty"/>
        <result property="lateSalary" column="late_salary"/>
        <result property="earlySalary" column="early_salary"/>
        <result property="afdSalary" column="afd_salary"/>
        <result property="remark" column="remark"/>
        <result property="salary" column="salary"/>
        <result property="salaryMonth" column="salary_month"/>
        <result property="salaryYear" column="salary_year"/>
        <result property="getStatus" column="get_status"/>
        <result property="getTime" column="get_time"/>
        <result property="workNum" column="work_num"/>
        <result property="fullName" column="full_name"/>
        <result property="deptName" column="dept_name"/>
        <result property="personalPhoto" column="personal_photo"/>
        <result property="sex" column="sex"/>
    </resultMap>
    <resultMap id="getSalaryResult" type="com.psms.project.system.domain.vo.SysGetSalaryVo">
        <result property="headcount" column="headcount"/>
        <result property="receiveCount" column="receive_count"/>
        <result property="notReceiveCount" column="not_receive_count"/>
        <result property="receiveSalaryCount" column="receive_salary_count"/>
        <result property="notReceiveSalaryCount" column="not_receive_salary_count"/>
        <result property="currencyName" column="currency_name"/>
    </resultMap>
<!--        <collection property="sysUnitPrices" resultMap="priceResult"/>-->
<!--        <collection property="attendanceSummaries" resultMap="summaryResult"/>-->
<!--    </resultMap>-->
    <resultMap id="summaryResult" type="com.psms.project.attendance.domain.AttendanceSummary">
        <id property="summaryId" column="summary_id"/>
        <result property="workNum" column="workNum"/>
        <result property="lateNum" column="late_num"/>
        <result property="earlyNum" column="early_num"/>
        <result property="afdNum" column="afd_num"/>
        <result property="overtime" column="overtime"/>
        <result property="rewardsNum" column="rewards_num"/>
        <result property="punishmentNum" column="punishment_num"/>
        <result property="btNum" column="bt_num"/>
        <result property="reportType" column="report_type"/>
        <result property="summaryMonth" column="summary_month"/>
        <result property="summaryQuarter" column="summary_quarter"/>
        <result property="summaryYear" column="summary_year"/>
     </resultMap>
<!--    <resultMap id="priceResult" type="com.psms.project.system.domain.SysUnitPrice">-->
<!--        <id property="priceId" column="price_id"/>-->
<!--        <result property="workNum" column="work_num"/>-->
<!--        <result property="baseSalary" column="base_salary"/>-->
<!--        <result property="afdPrice" column="afd_price"/>-->
<!--        <result property="earlyPrice" column="early_price"/>-->
<!--        <result property="latePrice" column="late_price"/>-->
<!--        <result property="overtimePrice" column="overtime_price"/>-->
<!--        <result property="remark" column="remark"/>-->
<!--    </resultMap>-->
    <sql id="selectSalaryVo">
        select s.salary_id,s.work_num,s.base_salary,s.overtime_salary,s.bonus,s.penalty,s.late_salary,s.early_salary,s.afd_salary,s.remark,s.salary,s.salary_month,s.salary_year,s.get_status,s.get_time,
               sm.summary_id,sm.work_num,sm.late_num,sm.early_num,sm.afd_num,sm.overtime,sm.rewards_num,sm.punishment_num,sm.bt_num,sm.report_type,
               up.price_id,up.work_num,up.base_salary,up.overtime_price,up.afd_price,up.late_price,up.early_price,up.remark,
               n.full_name,
               d.dept_name,
               i.personal_photo,i.sex
        from sys_role_salary s
            left join sys_unit_price up on s.work_num=up.work_num
            left join attendance_summary sm on s.work_num=sm.work_num
            left join sys_user_number n on s.work_num=n.work_num
            left join sys_dept d on n.dept_id=d.dept_id
            left join induction_staff i on s.work_num=i.work_num
    </sql>
    <insert id="addSalary" parameterType="com.psms.project.system.domain.SysRoleSalary">
        insert into sys_role_salary(work_num,base_salary,overtime_salary,bonus,penalty,late_salary,early_salary,afd_salary,remark,salary,salary_month,salary_year)
        values (#{workNum},#{baseSalary},#{overtimeSalary},#{bonus},#{penalty},#{lateSalary},#{earlySalary},#{afdSalary},#{remark},#{salary},#{salaryMonth},#{salaryYear})
    </insert>

    <update id="getSalary" parameterType="com.psms.project.system.domain.SysRoleSalary">
        update sys_role_salary set
        get_status=#{getStatus},
        get_time=#{getTime}
        where salary_id=#{salaryId} and get_status=2
    </update>
    <update id="updateSalary" parameterType="com.psms.project.system.domain.SysRoleSalary">
        update sys_role_salary set
        <if test="baseSalary != null and baseSalary !=0">base_salary=#{baseSalary},</if>
        <if test="overtimeSalary != null and overtimeSalary !=0">overtime_salary=#{overtimeSalary},</if>
        <if test="bonus != null and bonus !=0">bonus=#{bonus},</if>
        <if test="penalty != null and penalty !=0">penalty=#{penalty},</if>
        <if test="lateSalary != null and lateSalary !=0">late_salary=#{lateSalary},</if>
        <if test="earlySalary != null and earlySalary !=0">early_salary=#{earlySalary},</if>
        <if test="afdSalary != null and afdSalary !=0">afd_salary=#{afdSalary},</if>
        <if test="remark != null and remark !=0">remark=#{remark},</if>
        <if test="salary != null and salary !=0">salary=#{salary}</if>
        where work_num=#{workNum}
    </update>
    <delete id="delSalary" parameterType="com.psms.project.system.domain.SysRoleSalary">
        delete from sys_role_salary where
        work_num=#{workNum} and
        salary_month=#{salaryMonth} and
        salary_year=#{salaryYear}
    </delete>

    <select id="salaryList" resultMap="salaryResult" parameterType="com.psms.project.system.domain.SysRoleSalary">
        <include refid="selectSalaryVo"/>
        where sm.report_type=1
            <if test="workNum != null and workNum!=''">
                AND s.work_num like concat ('%',#{workNum},'%')
            </if>
            <if test="deptName != null and deptName!=''">
                AND d.dept_name like concat ('%',#{deptName},'%')
            </if>
            <if test="getStatus != null and getStatus!=0 ">
                AND s.get_status=#{getStatus}
            </if>
            <if test="fullName != null and fullName!=''">
                AND n.full_name like concat ('%',#{fullName},'%')
            </if>
            order by s.salary_id desc
    </select>
    <select id="salaryInfo" resultMap="salaryResult">
        <include refid="selectSalaryVo"/>
        where salary_id=#{salaryId} and sm.report_type=1
    </select>
    <select id="calcSummary" parameterType="com.psms.project.attendance.domain.AttendanceSummary" resultMap="summaryResult">
        select a.late_num,a.early_num,a.afd_num,a.overtime,a.rewards_num,a.punishment_num
        from attendance_summary a
        where a.work_num=#{workNum}
         and  a.report_type=1
         and  a.summary_month=#{summaryMonth}
         and  a.summary_quarter=#{summaryQuarter}
         and  a.summary_year=#{summaryYear}
    </select>
    <select id="getSalaryList" resultMap="getSalaryResult" parameterType="int">
        SELECT
	    count(*) AS headcount,
	    count(if(get_status = 1,TRUE,null))  AS receive_count,
	    count(if(get_status = 2,TRUE,null)) AS not_receive_count,
	    COALESCE(sum(if(get_status = 1,s.salary,0)),0)AS receive_salary_count,
	    COALESCE(sum(if(get_status = 2,s.salary,0)),0)AS not_receive_salary_count,
	    i.currency_name
        FROM
	    sys_role_salary s
	    LEFT JOIN induction_staff ids ON s.work_num = ids.work_num
	    LEFT JOIN induction_currency i ON ids.currency_id = i.currency_id
        WHERE
	    s.salary_year = #{param1}
	    AND s.salary_month = #{param2}
        GROUP BY
	    i.currency_name
    </select>
</mapper>