<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.bussiness.mapper.BussinessCompleteMapper">
    <resultMap type="com.psms.project.bussiness.domain.BussinessComplete" id="BussinessCompleteResult">
        <id property="destroyId"           column="destroy_id"/>
        <result property="tripId"          column="trip_id"/>
        <result property="destroyStatus"   column="destroy_status"/>
        <result property="createDestroyBy"        column="create_destroy_by"/>
        <result property="createDestroyTime"      column="create_destroy_time"/>
        <result property="updateDestroyBy"        column="update_destroy_by"/>
        <result property="updateDestroyTime"      column="update_destroy_time"/>
        <association property="trips" column="trip_id" resultMap="BussinessTripResult"/>
    </resultMap>
    <resultMap type="com.psms.project.bussiness.domain.BussinessTrip" id="BussinessTripResult">
        <id property="tripId"           column="trip_id"/>
        <result property="workNum"      column="work_num"/>
        <result property="deptName"     column="dept_name"/>
        <result property="postName"     column="post_name"/>
        <result property="fullName" column="full_name"/>
        <result property="leader"   column="leader"/>
        <result property="postCode" column="post_code"/>
        <result property="tripAddress"  column="trip_address"/>
        <result property="reason"       column="reason"/>
        <result property="tripStatus"   column="trip_status"/>
        <result property="startTime"    column="start_time"/>
        <result property="endTime"      column="end_time"/>
        <result property="createTripBy"     column="create_trip_by"/>
        <result property="createTripTime"   column="create_trip_time"/>
        <result property="updateTripBy"     column="update_trip_by"/>
        <result property="updateTripTime"   column="update_trip_time"/>
    </resultMap>
    <sql id="selectBussinessVo">
         select b.trip_id,b.work_num,b.trip_address,b.reason,b.trip_status,b.start_time,b.end_time,b.create_trip_by,b.create_trip_time,b.update_trip_by,b.update_trip_time,
                c.destroy_id,c.trip_id,c.destroy_status,c.create_destroy_by,c.create_destroy_time,c.update_destroy_by,c.update_destroy_time,
                n.full_name,
                d.dept_name,d.leader,
                p.post_name,p.post_code
         from bussiness_complete c
            left join bussiness_trip b on c.trip_id=b.trip_id
            left join sys_user_number n on b.work_num=n.work_num
            left join sys_dept d on n.dept_id=d.dept_id
            left join sys_post p on n.post_id=p.post_id
    </sql>
    <insert id="addDestroy" parameterType="com.psms.project.bussiness.domain.BussinessComplete">
            insert into bussiness_complete(trip_id,create_destroy_by,create_destroy_time)
            values(#{tripId},#{createDestroyBy},#{createDestroyTime})
    </insert>
    <update id="updateDestroy" parameterType="com.psms.project.bussiness.domain.BussinessComplete">
            update bussiness_complete
            set destroy_status=#{destroyStatus},update_destroy_by=#{updateDestroyBy},update_destroy_time=#{updateDestroyTime}
            where destroy_id=#{destroyId} and destroy_status=2
    </update>
    <delete id="delDestroys" parameterType="int">
        delete from bussiness_complete where destroy_id in
            <foreach collection="array" item="destroyId" open="(" separator="," close=")">
                #{destroyId}
            </foreach>
    </delete>
    <select id="destroyList" parameterType="com.psms.project.bussiness.domain.BussinessComplete" resultMap="BussinessCompleteResult">
        <include refid="selectBussinessVo"/>
        <where>
            <if test="createDestroyBy !=null and createDestroyBy!=''">
                AND c.create_destroy_by like concat('%',#{createDestroyBy},'%')
            </if>
            <if test="destroyStatus !=null and destroyStatus !=0">
                AND c.destroy_status=#{destroyStatus}
            </if>
        </where>
        order by c.destroy_id desc
    </select>
    <select id="destroyInfo" parameterType="int" resultMap="BussinessCompleteResult">
        <include refid="selectBussinessVo"/>
        where  c.destroy_id=#{destroyId}
    </select>
</mapper>