<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.attendance.mapper.AttendanceFingerprintMapper">
    <resultMap id="fingerprintResult" type="com.psms.project.attendance.domain.AttendanceFingerprint">
        <id property="fingerprintId" column="fingerprint_id"/>
        <result property="workNum" column="work_num"/>
        <result property="ioId" column="io_id"/>
        <result property="fingerprintTemplate" column="fingerprint_template"/>
        <result property="useStatus" column="use_status"/>
        <result property="fullName" column="full_name"/>
        <result property="deptName" column="dept_name"/>
        <result property="leader" column="leader"/>
        <result property="postCode" column="post_code"/>
        <result property="postName" column="post_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="addFingerprint" parameterType="com.psms.project.attendance.domain.AttendanceFingerprint">
        insert into attendance_fingerprint(work_num,fingerprint_template,io_id,create_time)
        values(#{workNum},#{fingerprintTemplate},#{ioId},sysdate())
    </insert>
    <update id="delFingerprint" parameterType="string">
        update attendance_fingerprint set
              use_status=2,
              update_time=sysdate()
        where work_num=#{workNum}
    </update>
    <update id="updateFingerprint" parameterType="com.psms.project.attendance.domain.AttendanceFingerprint">
        update attendance_fingerprint set
        <if test="workNum != null and workNum != ''">
            work_num=#{workNum},
        </if>
        <if test="fingerprintTemplate != null and fingerprintTemplate != ''">
            fingerprint_template=#{fingerprintTemplate},
        </if>
        <if test="ioId != null and ioId !=0">io_id=#{ioId},</if>
        update_time=sysdate()
        where fingerprint_id=#{fingerprintId}
    </update>
    <delete id="delFingerprints" parameterType="int">
        delete from attendance_fingerprint where fingerprint_id in
        <foreach collection="array" item="fingerprintId" open="(" separator="," close=")">
            #{fingerprintId}
        </foreach>
    </delete>
    <select id="fingerprintInfo" parameterType="int" resultMap="fingerprintResult">
        select f.fingerprint_id,f.io_id,f.work_num,f.fingerprint_template,f.use_status,f.create_time,f.update_time,
               n.full_name,
               d.dept_name,d.leader,
               p.post_name,p.post_code,
               i.io_id
        from attendance_fingerprint f
        left join sys_user_number n on f.work_num=n.work_num
        left join sys_dept d on n.dept_id=d.dept_id
        left join sys_post p on n.post_id=p.post_id
        left join attendance_io i on f.io_id=i.io_id
        where fingerprint_id=#{fingerprintId} and f.use_status=1
    </select>
    <select id="fingerprintList" resultMap="fingerprintResult" parameterType="com.psms.project.attendance.domain.AttendanceFingerprint">
        select f.fingerprint_id,f.io_id,f.work_num,f.fingerprint_template,f.use_status,f.create_time,f.update_time,
        n.full_name,
        d.dept_name,d.leader,
        p.post_name,p.post_code,
        i.io_id
        from attendance_fingerprint f
        left join sys_user_number n on f.work_num=n.work_num
        left join sys_dept d on n.dept_id=d.dept_id
        left join sys_post p on n.post_id=p.post_id
        left join attendance_io i on f.io_id=i.io_id
        <where>
        <if test="deptName !=null and deptName!=''">
            AND d.dept_name like concat('%',#{deptName},'%')
        </if>
        <if test="fullName !=null and fullName!=''">
            AND n.full_name like concat('%',#{fullName},'%')
        </if>
        <if test="workNum !=null and workNum!=''">
            AND f.work_num like concat('%',#{workNum},'%')
        </if>
        <if test="useStatus != '' and useStatus!=0">
            AND f.use_status=#{useStatus}
        </if>
        </where>
        order by f.fingerprint_id desc
    </select>

</mapper>