<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.attendance.mapper.AttendanceScheduleOrderMapper">
    <resultMap id="orderResult" type="com.psms.project.attendance.domain.AttendanceScheduleOrder">
        <id property="orderId" column="order_id"/>
        <result property="scheduleName" column="schedule_name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectOrderVo">
        select order_id,schedule_name,start_time,end_time,create_by,create_time,update_by,update_time
        from attendance_schedule_order
    </sql>
    <insert id="addOrder" parameterType="com.psms.project.attendance.domain.AttendanceScheduleOrder">
        insert into attendance_schedule_order(
          schedule_name,start_time,end_time,create_by,create_time
        ) values (
        #{scheduleName},#{startTime},#{endTime},#{createBy},sysdate()
        )
    </insert>
    <update id="updateOrder" parameterType="com.psms.project.attendance.domain.AttendanceScheduleOrder">
        update attendance_schedule_order set
               schedule_name=#{scheduleName},
               start_time=#{startTime},
               end_time=#{endTime},
               update_by=#{updateBy},
               update_time=sysdate()
        where order_id=#{orderId}
    </update>
    <delete id="delOrder">
        delete from attendance_schedule_order where order_id=#{orderId}
    </delete>
    <select id="orderList" parameterType="com.psms.project.attendance.domain.AttendanceScheduleOrder" resultMap="orderResult">
        <include refid="selectOrderVo"/>
        <where>
            <if test="scheduleName != null and scheduleName!=''">
                AND schedule_name like concat('%',#{scheduleName},'%')
            </if>
        </where>
    </select>
    <select id="orderInfo" parameterType="int" resultMap="orderResult">
        <include refid="selectOrderVo"/>
        where order_id=#{orderId}
    </select>
</mapper>