<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.attendance.mapper.AttendanceRpMapper">
    <resultMap id="rpResult" type="com.psms.project.attendance.domain.AttendanceRp">
        <id property="rpId" column="rp_id"/>
        <result property="workNum" column="work_num"/>
        <result property="operation" column="operation"/>
        <result property="rpInfo" column="rp_info"/>
        <result property="rpWay" column="rp_way"/>
        <result property="cashAmount" column="cash_amount"/>
        <result property="nickName" column="nick_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="rpStatus" column="rp_status"/>
        <result property="deptName" column="dept_name"/>
        <result property="leader" column="leader"/>
        <result property="postName" column="post_name"/>
        <result property="postCode" column="post_code"/>
        <result property="fullName" column="full_name"/>
    </resultMap>
    <sql id="rpVo">
        select rp.rp_id,rp.work_num,rp.operation,rp.rp_info,rp.rp_way,rp.cash_amount,rp.nick_name,rp.create_time,rp.update_by,rp.update_time,rp.rp_status,
               d.dept_name,d.leader,
               p.post_name,p.post_code,
               n.full_name
        from attendance_rp rp
        left join sys_user_number n on rp.work_num=n.work_num
        left join sys_dept d on n.dept_id=d.dept_id
        left join sys_post p on n.post_id=p.post_id
    </sql>
    <select id="rpInfo" parameterType="int" resultMap="rpResult">
    <include refid="rpVo"/>
        where rp.rp_id=#{rpId}
    </select>
    <update id="updateById" parameterType="com.psms.project.attendance.domain.AttendanceRp" >
        update attendance_rp set
        rp_status=#{rpStatus},
        update_by=#{updateBy},
        update_time=sysdate()
        where rp_id=#{rpId}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from attendance_rp where rp_id in
        <foreach collection="array" item="rpId" open="(" separator="," close=")">
            #{rpId}
        </foreach>
    </delete>
    <insert id="addRp" parameterType="com.psms.project.attendance.domain.AttendanceRp">
        insert into attendance_rp(work_num,operation,rp_info,rp_way,cash_amount,nick_name,create_time)
        values (#{workNum},#{operation},#{rpInfo},#{rpWay},#{cashAmount},#{nickName},sysdate())
    </insert>
    <select id="rpList" parameterType="com.psms.project.attendance.domain.AttendanceRp" resultMap="rpResult">
        <include refid="rpVo"/>
        <where>
            <if test="workNum != null and workNum != ''">
                AND rp.work_num like concat('%', #{workNum}, '%')
            </if>
            <if test="operation != null and operation != ''">
                AND rp.operation=#{operation}
            </if>
            <if test="deptName != null and deptName != ''">
                AND d.dept_name like concat('%', #{deptName}, '%')
            </if>
            <if test="fullName != null and fullName != ''">
                AND n.full_name like concat('%', #{fullName}, '%')
            </if>
            <if test="rpStatus != null and rpStatus != ''">
                AND rp.rp_status=#{rpStatus}
            </if>
        </where>
        order by rp.rp_id desc
    </select>
    <select id="selectR" parameterType="string" resultType="double">
        select sum(cash_amount) from attendance_rp
        where work_num=#{workNum} and operation=1 and rp_way=1 and rp_status=2
    </select>
    <select id="selectP" parameterType="string" resultType="double">
        select sum(cash_amount) from attendance_rp
        where work_num=#{workNum} and operation=2 and rp_way=1 and rp_status=2
    </select>
</mapper>