<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psms.project.attendance.mapper.AttendanceScheduleMapper">
    <resultMap id="scheduleResult" type="com.psms.project.attendance.domain.AttendanceSchedule">
        <id property="scheduleId" column="schedule_id"/>
        <result property="orderId" column="order_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="postName" column="post_name"/>
        <result property="postCode" column="post_code"/>
        <result property="deptName" column="dept_name"/>
        <result property="fullName" column="full_name"/>
        <result property="workNum" column="work_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <association property="orderList" column="order_id" resultMap="orderResult"/>
    </resultMap>
    <resultMap id="orderResult" type="com.psms.project.attendance.domain.AttendanceScheduleOrder">
        <id property="orderId" column="order_id"/>
        <result property="scheduleName" column="schedule_name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectScheduleVo">
        select s.schedule_id,s.order_id,s.work_num,s.start_date,s.end_date,s.create_by,s.create_time,s.update_by,s.update_time,
               so.order_id,so.schedule_name,so.start_time,so.end_time,so.create_by,so.create_time,so.update_by,so.update_time,
               p.post_name,p.post_code,
               d.dept_name,
               n.full_name
        from attendance_schedule s
        left join attendance_schedule_order so on s.order_id=so.order_id
        left join sys_user_number n on s.work_num=n.work_num
        left join sys_post p on n.post_id=p.post_id
        left join sys_dept d on n.dept_id=d.dept_id
    </sql>
    <insert id="addSchedule" parameterType="com.psms.project.attendance.domain.AttendanceSchedule">
        insert into attendance_schedule(order_id,work_num,start_date,end_date,create_by,create_time)
        values (#{orderId},#{workNum},#{startDate},#{endDate},#{createBy},sysdate())
    </insert>
    <update id="updateSchedule" parameterType="com.psms.project.attendance.domain.AttendanceSchedule">
        update attendance_schedule set
        <if test="workNum != null and workNum != ''">
            work_num=#{workNum},
        </if>
        <if test="orderId != null and orderId !=0 ">
            order_id=#{orderId},
        </if>
        <if test="startDate != null ">
            start_date=#{startDate},
        </if>
        <if test="endDate != null ">
            end_date=#{endDate},
        </if>
        update_by=#{updateBy},
        update_time=sysdate()
        where schedule_id=#{scheduleId}
    </update>
    <delete id="delSchedule" parameterType="int">
        delete from attendance_schedule where schedule_id in
        <foreach collection="array" item="scheduleId" open="(" separator="," close=")">
            #{scheduleId}
        </foreach>
    </delete>
    <select id="scheduleList" parameterType="com.psms.project.attendance.domain.AttendanceSchedule" resultMap="scheduleResult">
        <include refid="selectScheduleVo"/>
        <where>
            <if test="workNum !=null and workNum !=''">
            AND s.work_num like concat('%',#{workNum},'%')
            </if>
        </where>
    </select>
    <select id="scheduleInfo" parameterType="string" resultMap="scheduleResult">
        <include refid="selectScheduleVo"/>
        where s.work_num=#{workNum}
    </select>
</mapper>